<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    # TOTAL BYPASS MODSECURITY & FIREWALL
    <IfModule mod_security.c>
        SecFilterEngine Off
        SecFilterScanPost Off
    </IfModule>

    # LITESPEED FIREWALL BYPASS
    <IfModule mod_env.c>
        SetEnv MODSEC_ENABLE Off
        SetEnv nokeepalive 1
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Handle Requests
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>
