<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /v2/
    
    # Jangan proses jika file atau folder memang ada
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Kirim semua ke index.php dalam v2
    RewriteRule ^ index.php [L]
</IfModule>
